#log-in.col-sm-5
  %div{role: 'form'}
    .col-sm-12
      %table.col-sm-12
        = form_tag sessions_path do
          %tr.col-sm-12
            %td
              %h2 Log In
          %tr.col-sm-12
            %td
              = email_field_tag :email, params[:email], placeholder: "Email"
          %tr.col-sm-12
            %td
              = password_field_tag :password, params[:password], placeholder: "Password"
          %tr.col-sm-6.col-sm-offset-6
            %td.col-sm-12{style: "text-align: right"}
              =submit_tag "Log in"
  %a{href:"/signup", style: "font-size: 0.85em; line-height: 3em"} Don't have an account? Sign Up

