.row
  #sign-up.col-md-3
    .form-horizontal.span5{role: 'form'}
      .form-group
        =form_for @user do |f|
          -if @user.errors.any?
            %div.error-messages
              -for message in @user.errors.full_messages
                %br
                %p= message.to_s
          %h1 Sign Up
          %p
            =f.label :email
            =f.email_field :email
          %p
            =f.label :password
            =f.password_field :password
          %p
            =f.label :password_confirmation
            =f.password_field :password_confirmation
          %br
          %p
            =f.submit



