#sign-up.col-sm-5
  %div{role: 'form'}
    .col-sm-12
      =form_for @user do |f|
        -if @user.errors.any?
          %div.error-messages
            -for message in @user.errors.full_messages
              %br
              %p= message.to_s
        %table.col-sm-12
          %tr.col-sm-12
            %td
              %h2 Sign Up
          %tr.col-sm-12
            %td
              =f.email_field :email, placeholder: "Email"
          %tr.col-sm-12
            %td
              =f.password_field :password, placeholder: "Password (min. 6 characters)"
          %tr.col-sm-12
            %td
              =f.password_field :password_confirmation, placeholder: "Password confirmation"
          %tr.col-sm-6.col-sm-offset-6
            %td.col-sm-12{style: "text-align: right"}
              =f.submit
    %a{href:"/login", style: "font-size: 0.85em; line-height: 3em"} Already have an account? Log In
