#search-header
  %br
  #header
    %h1 Skill Savvy
    / %h3 Strengthen your abilities
  #user-box
    -if current_user
      Logged in as:
      = current_user.email
      |
      =link_to "Log Out", logout_path
    -else
      = link_to "Home", root_path
      |
      = link_to "Sign Up", signup_path
      |
      = link_to "Login", login_path
%br
