#search
  %h1 Welcome
  %h2 What skill do you want to learn or improve on?
  %input#search-field{ :type => "text", :placeholder => "i.e. play guitar, speak spanish, solve rubix cube"}
    %button#search-button search resources
  #results
