#search
  %h1 Welcome
  %h2 What skill do you want to learn or improve on?
  %form#submit-form
    %input#search-field{ :type => "text", :placeholder => "i.e. play guitar, speak spanish, solve rubix cube"}
    %button#search-button search resources
.container

  #rating-form.hidden
    %button#x-button x
    %h3 Rate This
    %form
      %label Overall Rating
      %select#overall-rating
        %option 5
        %option 4
        %option 3
        %option 2
        %option 1
      %label Skill Level
      %select#skill-level
        %option newbie
        %option novice
        %option advanced
        %option expert
      -if current_user
        %input#user-id{type: "hidden", value: "#{current_user.id}" }
      %input#submit{type: "submit"}

  #results.span6.center
    #throbber.hidden=image_tag('ajax-loader.gif', height: '25')
    #web-results
      %div


