#all {
  background-color: #FFF1F0;
  text-align: center;
  font-size: 1.8em;
  font-family: 'Raleway', sans-serif;
  color: #544747;
}

#all h1 {
font-family: 'Comfortaa', cursive;
font-size: 4em;
}

#all h2 {
  font-family: 'Raleway', sans-serif;
}

#all h3 {
  font-family: 'Comfortaa', cursive;
}

#results a {
font-family: 'Comfortaa', cursive;
font-size: 1.02em;
}

#all a {
  color: #2AB251;
}

#search-field {
  width: 40%;
}

#web-results {
/*  width: 45%;*/
  height: 450px;
  overflow: scroll;
  margin: 2%;
  background-color: #FFF1F0;
  border: 3px solid #D7D7d7;
  border-radius: 10px;
}

#search-button {
  background-color: #FFACB3;
  border-radius: 5px;
  margin-left: 1%;
}
#search-button:hover {
  background-color: #FFB9C0;
}

#results {
  background-color: #FFF1F0;
  text-align: center;
}

#throbber {
  display: none;
}

.search-results {
  padding: 1.5%;
  background-color: #FFF1F0;
  margin: 0 auto;
  border-top: 1.5px solid #dedede;
  width: 90%;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
#rating-form {
  width: 20%;
  padding: 0 1%;
  padding-bottom: 1%;
  border: 1px solid #dedede;
  border-radius: 5px;
  position: absolute;
  background-color: #f8f8f8;
  opacity: 0.95;
}

.hidden {
  display: none;
}

#x-button {
  position: absolute;
  text-align: right;
  right: 0;
  margin: 3px;
  padding: 0 4px;
  color: red;
}
